* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFam: "Exo 2", sans-serif;
  --bgColor: #3a0010;
  --btnBg: #fceeec;
}

body {
  overflow: hidden;
  min-height: 100vh;
  width: 100vw;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  color: white;
  font-family: var(--fontFam);
  overflow: hidden;
}

.nav-bar {
  position: absolute;

  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: space-between;
}
.logo-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.logo {
  margin-left: 30px;
  font-family: var(--fontFam);
  font-size: 18px;
  font-weight: 500;
}
.logo-toggle i {
  font-size: 18px;
  line-height: 3px;
  color: var(--btnBg);
  margin-right: 30px;
  cursor: pointer;
  transition: 300ms ease-in;
}

.nav-links-container {
  position: absolute;
  top: 10vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px 0px 10px 10px;
  transition: 300ms ease-in;
  transform: translateY(-200%);
}
.nav-links-container ul {
  width: 80vw;
  background-color: var(--btnBg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100vw;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--bgColor);
  font-family: var(--fontFam);
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px 35px;
  background-color: var(--bgColor);
  color: var(--btnBg);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

/* =================text container ============================ */
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 75vw;
  z-index: 10;
}

/* ====================slogan ========================== */
.slogan {
  font-family: var(--fontFam);
  text-transform: uppercase;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 44.5757px;
  line-height: 44px;

  color: whitesmoke;
}

/* ===================hero description =================== */
.hero-text p {
  font-family: var(--fontFam);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 90px;
  color: whitesmoke;
  opacity: 0.8;
}
/* ===================btns container ============================== */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.contact-us-btn {
  text-decoration: none;
  background-color: var(--btnBg);
  color: var(--bgColor);
}
.take-a-look-btn {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--btnBg);
  transition: 0.5s all;
}

/* ============================img container ==================================== */
.image-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.three-pieces,
.crunchy-piece,
.image-pink-one,
.hershey-piece-one,
.mixed-one {
  display: none;
}

.hershey-piece-two {
  position: absolute;

  bottom: -20px;
  left: -20px;
  transform: rotate(-90deg);
  opacity: 1;
  width: 150px;
}
.image-pink-two {
  position: absolute;
  top: 10vh;
  right: -50px;
  opacity: 1;
  width: 150px;
}
.mixed-two {
  position: absolute;

  bottom: -20px;
  right: -20px;
  opacity: 1;
  width: 150px;
}
.chocolate-shop {
  height: 100vh;
  width: 100vw;
}

/* =============media for  less than  375px =========== */
@media screen and (max-width: 380px) {
  .slogan {
    width: 60vw;
    font-size: 24px;
    line-height: 25px;
  }
  .image-container img {
    width: 100px;
  }
}

@media (max-width: 1025px) and (min-width: 750px) {
  .logo-toggle {
    width: 300px;
  }
  .logo-toggle i {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .nav-links-container {
    transform: translateY(0);

    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .nav-links-container ul {
    background-color: transparent;
    color: whitesmoke;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  li {
    flex-direction: row;
    justify-content: center;

    padding: 0px 0px;
  }
  li a {
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }
  .nav-contact-us {
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--btnBg);
    color: var(--bgColor);
  }
  .image-container img {
    display: block;
    width: 120px;
  }
  .three-pieces {
    position: absolute;
    top: 600px;
    left: 400px;
  }
  .hershey-piece-one {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 100px;
  }
  .image-pink-one {
    position: absolute;
    bottom: 200px;
    left: 100px;
    width: 100px;
  }
  .mixed-one {
    position: absolute;
    top: 300px;
    left: 100px;
  }
  .crunchy-piece {
    width: 100px;
    position: absolute;
    top: 300px;
    left: 600px;
  }
}
@media screen and (min-width: 1026px) {
  li a {
    font-size: 20px;
  }
  .logo-toggle {
    width: 300px;
  }
  .logo-toggle i {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .nav-links-container {
    transform: translateY(0);

    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .nav-links-container ul {
    background-color: transparent;
    color: whitesmoke;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  li {
    flex-direction: row;
    justify-content: center;

    padding: 0px 0px;
  }
  li a {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  .nav-contact-us {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--btnBg);
    color: var(--bgColor);
  }
  .home {
    justify-content: space-between;
  }
  .hero-text {
    width: 500px;
    margin-left: 200px;
    text-align: start;
    align-items: flex-start;
  }
  .slogan {
    font-size: 77px;
    width: 500px;
    line-height: 76px;
  }
  .hero-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .button-container {
    flex-direction: row;
  }
  .image-container img {
    display: block;
    position: absolute;
  }

  .three-pieces {
    top: 200px;
    left: 540px;
    width: 250px;
  }
  .crunchy-piece {
    bottom: -50px;
    right: 500px;
    width: 120px;
  }
  .hershey-piece-one {
    bottom: 100px;
    right: 250px;
    width: 120px;
  }
  .hershey-piece-two {
    right: -20px;
    width: 120px;
    opacity: 1;
  }

  .image-pink-two {
    top: 200px;
    right: 300px;
    width: 120px;
  }
  .image-pink-one {
    right: -30px;
    bottom: -50px;
    width: 120px;
  }
  .mixed-two {
    right: -50px;
    bottom: 350px;
  }
  .mixed-one {
    bottom: 200px;
    right: 500px;
    width: 120px;
  }
}
/* ================hover  ==================== */

li a:hover {
  opacity: 0.7;
}

/* =============btns hover hero section ================== */
.take-a-look-btn:hover {
  background-color: var(--btnBg);
  color: var(--bgColor);
  border: transparent;
}
.contact-us-btn:hover {
  background-color: transparent;
  border: 1px solid var(--btnBg);
  color: var(--btnBg);
}

/* =================js ============== */
.show-links {
  transform: translateY(0);
}
.rotate-toggle {
  transform: rotate(-90deg);
}
