* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFam: "Exo 2", sans-serif;
  --bgColor: #3a0010;
  --btnBg: #fceeec;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
}

.home {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgColor);
  color: white;
  font-family: var(--fontFam);
  overflow: hidden;
}

.nav-bar {
  position: absolute;

  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: space-between;
}
.logo-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.logo {
  margin-left: 30px;
  font-family: var(--fontFam);
  font-size: 18px;
  font-weight: 500;
}
.logo-toggle i {
  font-size: 18px;
  line-height: 3px;
  color: var(--btnBg);
  margin-right: 30px;
  cursor: pointer;
  transition: 300ms ease-in;
}

.nav-links-container {
  position: absolute;
  top: 10vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px 0px 10px 10px;
  transition: 300ms ease-in;
  transform: translateY(-200%);
}
.nav-links-container ul {
  width: 80vw;
  background-color: var(--btnBg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100vw;
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--bgColor);
  font-family: var(--fontFam);
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding: 10px 35px;
  background-color: var(--bgColor);
  color: var(--btnBg);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

/* =================text container ============================ */
.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 75vw;
  z-index: 10;
}

/* ====================slogan ========================== */
.slogan {
  font-family: var(--fontFam);
  text-transform: uppercase;
  margin-bottom: 45px;
  font-style: normal;
  font-weight: 700;
  font-size: 44.5757px;
  line-height: 44px;

  color: whitesmoke;
}
.slogan-span {
  opacity: 0;
  transition: 300ms ease-in;
}
/* ===================hero description =================== */
.hero-description {
  font-family: var(--fontFam);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 90px;
  color: whitesmoke;
  opacity: 0;
  transition: 500ms ease-in;
}
/* ===================btns container ============================== */
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  transition: 500ms ease-in;
  opacity: 0;
}
.contact-us-btn {
  text-decoration: none;
  background-color: var(--btnBg);
  color: var(--bgColor);
}
.take-a-look-btn {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--btnBg);
  transition: 0.5s all;
}

/* ============================img container ==================================== */
.image-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.image-seven,
.image-three,
.image-four,
.image-five,
.image-six {
  display: none;
}
.image-one {
  position: absolute;

  bottom: 20px;
  left: 20px;

  width: 150px;
}
.image-two {
  position: absolute;
  top: 100px;
  left: -50px;
  width: 150px;
}

.image-eight {
  position: absolute;
  top: 10vh;
  right: 10px;

  width: 150px;
}
.image-nine {
  position: absolute;

  bottom: 50px;
  right: 20px;

  width: 150px;
}
.image {
  opacity: 0;
  transition: 300ms ease-in;
  transform: scale(5);
}

/* =====================end of hero section ============ */

/* ==============start of truffles section ============== */
.truffles-heaven {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--btnBg);
}
.truffles-heaven h1 {
  font-family: var(--fontFam);
  font-size: 32px;
  font-weight: 700;
  color: var(--bgColor);
  text-transform: uppercase;
  margin-top: 30px;
  position: relative;
}
.truffles-heaven h1::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: var(--bgColor);
  opacity: 0.5;
  left: 0;
  bottom: -10px;
}
/* =============================.overall slider container ============*/
.overall-slider-container {
  width: 100vw;
  margin-top: 30px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  position: relative;
}

/* ========================slider container  ================================= */
.slider-container {
  width: 80vw;

  height: 40vh;

  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 4rem;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
}
.slide-img {
  height: 100%;
  object-fit: cover;
  width: 80vw;
}
/* ==================slider btn container  ================================ */
.slider-btn-container {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}

.slider-btn-container button {
  background-color: var(--bgColor);
  color: var(--btnBg);
  width: 50px;
  height: 50px;
  opacity: 0.7;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sub-img-container {
  width: 80vw;
  place-items: center;
  margin-top: 20px;
  display: none;
  grid-template-columns: repeat(4, auto);
}
.sub-img-container img {
  width: 80px;
  height: 100px;
}
/* ==========truffles text section =================== */
.truffles-text-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  width: 100vw;
  place-content: center;
  grid-template-columns: repeat(1, 80vw);
  gap: 20px;
}

.text-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  font-family: var(--fontFam);
  color: var(--bgColor);
  border: 1px solid var(--bgColor);
  padding: 20px 0px;
  border-radius: 10px;
}
.text-box h2 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
}
.text-box h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--bgColor);
  opacity: 0.5;
  bottom: -5px;
  left: 0;
  position: absolute;
}
.text-box p {
  opacity: 0.8;
  width: 60vw;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 25px;
  gap: 5px;
}
.text-box p span {
  background-color: var(--bgColor);
  border-radius: 50%;
  margin-top: 10px;
  padding: 2px;
}

/* =============media for  less than  375px =========== */
@media screen and (max-width: 380px) {
  .slogan {
    width: 60vw;
    font-size: 24px;
    line-height: 25px;
  }
  .image-container img {
    width: 100px;
  }
}

@media (max-width: 1025px) and (min-width: 750px) {
  .logo-toggle {
    width: 300px;
  }
  .logo-toggle i {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .nav-links-container {
    transform: translateY(0);

    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .nav-links-container ul {
    background-color: transparent;
    color: whitesmoke;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  li {
    flex-direction: row;
    justify-content: center;

    padding: 0px 0px;
  }
  li a {
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0;
  }
  .nav-contact-us {
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 400;
    background-color: var(--btnBg);
    color: var(--bgColor);
  }
  .image-container img {
    display: block;
    width: 150px;
  }
  .image-one {
    position: absolute;
    bottom: 100px;
    left: 200px;
  }
  .image-two {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 100px;
  }
  .image-three {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 100px;
  }
  .image-four {
    position: absolute;
    top: 120px;
    left: 300px;
  }
  .image-five {
    width: 100px;
    position: absolute;
    bottom: 300px;
    right: 120px;
  }
  .image-six {
    position: absolute;

    bottom: 150px;
    left: 10px;
  }
  .image-seven {
    position: absolute;
    top: 50%;
    left: 100px;
  }
}
@media screen and (min-width: 1026px) {
  li a {
    font-size: 20px;
  }
  .logo-toggle {
    width: 300px;
  }
  .logo-toggle i {
    display: none;
  }
  .logo {
    font-size: 24px;
  }
  .nav-links-container {
    transform: translateY(0);

    position: static;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .nav-links-container ul {
    background-color: transparent;
    color: whitesmoke;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70vw;
  }
  li {
    flex-direction: row;
    justify-content: center;

    padding: 0px 0px;
  }
  li a {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  .nav-contact-us {
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--btnBg);
    color: var(--bgColor);
  }
  .home {
    justify-content: space-between;
  }
  .hero-text {
    width: 500px;
    margin-left: 200px;
    text-align: start;
    align-items: flex-start;
  }
  .slogan {
    font-size: 77px;
    width: 500px;
    line-height: 76px;
  }
  .hero-text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
  .button-container {
    flex-direction: row;
  }
  .image-container img {
    display: block;
    position: absolute;
    width: 120px;
  }

  .image-one {
    top: 200px;
    left: 700px;
  }
  .image-two {
    bottom: 50px;
    right: 500px;
  }
  .image-three {
    bottom: 100px;
    right: 550px;
  }
  .image-four {
    right: 200px;
    top: 50%;
  }

  .image-five {
    top: 200px;
    right: 300px;
  }
  .image-six {
    right: 30px;
    bottom: 350px;
  }
  .image-seven {
    left: 0px;
    bottom: 0px;
  }
  .image-eight {
    top: 300px;
    right: 500px;
  }
}
/* ================hover  ==================== */

li a:hover {
  opacity: 0.7;
}

/* =============btns hover hero section ================== */
.take-a-look-btn:hover {
  background-color: var(--btnBg);
  color: var(--bgColor);
  border: transparent;
}
.contact-us-btn:hover {
  background-color: transparent;
  border: 1px solid var(--btnBg);
  color: var(--btnBg);
}

/* =================js ============== */
.show-links {
  transform: translateY(0);
}
.rotate-toggle {
  transform: rotate(-90deg);
}

.show-image {
  opacity: 1;
  transform: scale(1);
}

.show-span {
  opacity: 1;
}

.show-opacity {
  opacity: 1;
}
